SPLITWISE_API_HOST="https://secure.splitwise.com/"
SPLITWISE_API_KEY=

SPLITWISE_GROUP_ID_HOME=
SPLITWISE_USER_IDS='{"member_a":0,"member_b":0}'

SPLITWISE_CURRENCY_CODE=
SPLITWISE_EXPENSES='[{"description":"{month}月項目名稱","cost":0,"payer":"member_b","split":{"member_a":1}}]'
